body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #667eea, #764ba2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
@font-face {
    font-family: 'monument';
    src: url(monumentextended-regular-webfont.woff) format('woff');
    src: url(monumentextended-regular-webfont.woff2) format('woff2');
   }
.container {
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 400px;
    position: relative;
    overflow: hidden;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-toggle {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

.toggle-btn {
    flex: 1;
    padding: 10px 0;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 50px;
    margin: 0 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.toggle-btn.active {
    background-color: #667eea;
    color: white;
    transform: scale(1.1);
}

.form-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    flex: 1;
    display: none;
    flex-direction: column;
    width: 100%;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.form.active {
    display: flex;
}

.form h2 {
    margin: 0 0 20px;
    color: #667eea;
    text-align: center;
}

.form input {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 50px;
    width: calc(100% - 30px);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    margin-left: 15px;
    margin-right: 15px;
}

.form input:focus {
    border-color: #667eea;
    outline: none;
    box-shadow: 0 0 10px rgba(102, 126, 234, 0.5);
}

.form button {
    padding: 15px;
    background-color: #667eea;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin-left: 15px;
    margin-right: 15px;
}

.form button:hover {
    background-color: #5a67d8;
    box-shadow: 0 4px 15px rgba(102, 126, 234, 0.3);
}
